@font-face{
    font-family: patio;
    src: url(../../assets/fonts/LaPatioScript.otf);
}

@font-face{
  font-family: halo;
  src: url(../../assets/fonts/HalogenGasLights.otf)
}

h1{
  font-family: patio;
  color: rgb(171, 209, 224);
  /* animation: glow2 1s ease-in-out infinite alternate; */
}

.btnRow{
  margin:0 !important;
  padding:0 !important;

}

.editBtn{
    font-family: patio;
    font-size: 25pt;
    color: rgb(219, 181, 208);
    margin: 0 15px 0 0;
    animation: glow 1s ease-in-out infinite alternate;

}



.closeBtn{
  font-family: halo;
  font-size: 20px;
  color: rgb(221, 171, 206);
  text-align: center;
  font: 36pt;
  margin-top:10px;
  /* margin-left:20px; */
  animation: glow 1s ease-in-out infinite alternate;

}

.saveBtn{
  font-family: halo;
  font-size: 20px;
  color: rgb(171, 209, 224);
  text-align: center;
  font: 36pt;
  margin-top:10px;
  animation: glow2 1s ease-in-out infinite alternate;

}


@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px rgb(218, 22, 159), 0 0 15px rgb(218, 22, 159), 0 0 25px rgb(223, 96, 185), 0 0 35px rgb(223, 96, 185), 0 0 45px rgb(223, 96, 185), 0 0 55px rgb(223, 96, 185), 0 0 65px rgb(223, 96, 185);
    }
    
    to {
      text-shadow: 0 0 15px rgb(218, 22, 159), 0 0 25px rgb(216, 120, 187), 0 0 35px rgb(223, 96, 185), 0 0 45px rgb(223, 96, 185), 0 0 55px rgb(223, 96, 185), 0 0 65px rgb(223, 96, 185), 0 0 75px rgb(223, 96, 185);
    }
  }

  @-webkit-keyframes glow2 {
    from {
      text-shadow: 0 0 5px rgb(35, 172, 226), 0 0 15px rgb(35, 172, 226), 0 0 25px rgb(28, 170, 226), 0 0 35px rgb(28, 170, 226), 0 0 45px rgb(28, 170, 226), 0 0 55px rgb(28, 170, 226), 0 0 65px rgb(28, 170, 226);
    }
    
    to {
      text-shadow: 0 0 15px rgb(35, 172, 226), 0 0 25px rgb(96, 187, 223), 0 0 35px rgb(28, 170, 226), 0 0 45px rgb(28, 170, 226), 0 0 55px rgb(28, 170, 226), 0 0 65px rgb(28, 170, 226), 0 0 75px rgb(28, 170, 226);
    }
  }

/* rgb(225, 60, 176);
rgb(56,181,230) */