@font-face{
    font-family: enter;
    src: url(../../assets/fonts/LasEnter_PersonalUseOnly.ttf)
}

.menuBtn {
    padding:0;
    background-color: black;
    padding-left: 15px;
    color: rgb(171, 209, 224);
    animation: glow2 1s ease-in-out infinite alternate;
}
.navContainer{
    margin:0px;
    padding:0px;
}

.navProfile{
    font-size:18pt !important;
    text-shadow: 1px 1px rgb(56,181,230);

}

.iconLink{
    padding-right: 15px;
}

.linkFont{
        color: rgb(225,60,176) !important;
        text-shadow: 1px 1px rgb(56,181,230);
        font-size:18pt;
        padding:0;
        margin: 10px;
}

@-webkit-keyframes glow2 {
    from {
      text-shadow: 0 0 5px rgb(35, 172, 226), 0 0 15px rgb(35, 172, 226), 0 0 25px rgb(28, 170, 226), 0 0 35px rgb(28, 170, 226), 0 0 45px rgb(28, 170, 226), 0 0 55px rgb(28, 170, 226), 0 0 65px rgb(28, 170, 226);
    }
    
    to {
      text-shadow: 0 0 15px rgb(35, 172, 226), 0 0 25px rgb(96, 187, 223), 0 0 35px rgb(28, 170, 226), 0 0 45px rgb(28, 170, 226), 0 0 55px rgb(28, 170, 226), 0 0 65px rgb(28, 170, 226), 0 0 75px rgb(28, 170, 226);
    }
  }


.position {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 997;
}