/* .Map {
    height: 55vh;
    max-height: 550px;
    width: 100%;
    display: block;
    margin-top: .5%;
}

.Card {
    margin-top: 1%;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.Card:hover,
.Card:focus,
.Card:active {
    transform: scale(1.1);
}

.Widget {
    margin-top: 4%;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.Widget:hover,
.Widget:focus,
.Widget:active {
    transform: scale(1.1);
}


 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.col1 {
    display: flex;
    flex-direction: column;
}

.Weather {
    width: 297px;
}

.IconButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.WaterStats {
    display: flex;
    flex-direction: row;   
}

.Water {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

 .TrailforksTrailList {
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    ruby-overhang: auto;
 }

 #list {
     max-height: 600px;
     max-width: 500;
     overflow-y: scroll;
 }
 
 .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #43a047;
 }


 #icon {
       color:  #43a047;
       text-decoration: none;
 }

.Background {
    width: 1000px;
    height: 500px;
} */


/* .Button:hover,
.Button:focus,
.Button:active {
    transform: scale(1.1);
} */

/* @media screen and (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
} */

body {
    background-size: auto 100%;
    background-image: url("./assets/images/vice_bar.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

}

@font-face{
    font-family: halo;
    src: url(./assets/fonts/HalogenGasLights.otf)
  }

.logoHome{
    margin-top: 50px;
    max-height: 300px;
    width:auto;
}


.homeContainer{
    margin-top: 60px;
    background-color: rgb(0,0,0,0.5);
    padding-bottom:10px;
}

.loginBtn{
    font-family: halo;
    font-size: 12pt;
    color: rgb(221, 171, 206);
    margin:0;
    /* margin-left:20px; */
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px rgb(218, 22, 159), 0 0 15px rgb(218, 22, 159), 0 0 25px rgb(223, 96, 185), 0 0 35px rgb(223, 96, 185), 0 0 45px rgb(223, 96, 185), 0 0 55px rgb(223, 96, 185), 0 0 65px rgb(223, 96, 185);
    }
    
    to {
      text-shadow: 0 0 15px rgb(218, 22, 159), 0 0 25px rgb(216, 120, 187), 0 0 35px rgb(223, 96, 185), 0 0 45px rgb(223, 96, 185), 0 0 55px rgb(223, 96, 185), 0 0 65px rgb(223, 96, 185), 0 0 75px rgb(223, 96, 185);
    }
  }