.Map {
    height: 55vh;
    max-height: 550px;
    width: 100%;
    display: block;
    margin-top: .5%;
}

.Card {
    margin-top: 1%;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.Card:hover,
.Card:focus,
.Card:active {
    transform: scale(1.1);
}

.Widget {
    margin-top: 4%;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.Widget:hover,
.Widget:focus,
.Widget:active {
    transform: scale(1.1);
}


 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.col1 {
    display: flex;
    flex-direction: column;
}

.Weather {
    width: 297px;
}

.IconButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.WaterStats {
    display: flex;
    flex-direction: row;   
}

.Water {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

 .TrailforksTrailList {
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    ruby-overhang: auto;
 }

 #list {
     max-height: 600px;
     max-width: 500;
     overflow-y: scroll;
 }
 
 .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #43a047;
 }


 #icon {
       color:  #43a047;
       text-decoration: none;
 }

.Background {
    width: 1000px;
    height: 500px;
}


/* .Button:hover,
.Button:focus,
.Button:active {
    transform: scale(1.1);
} */

@media screen and (max-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
}









