body {
   background-size: auto 100%;
   background-image: url("../../assets/images/vice_bar.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center; 
}

@font-face{
   font-family: enter;
   src: url(../../assets//fonts/LasEnter_PersonalUseOnly.ttf)
}
@font-face{
   font-family: rounded;
   src: url(../../assets/fonts/ArialRoundedBold.ttf);
}

.title{
   /* margin-top: 10px; */
   margin-left:-20px;
   font-family:enter;
   font-size: 48pt;
   color: rgb(171, 209, 224);

      animation: glow2 1s ease-in-out infinite alternate;


}

.profile{
   /* margin-top: 10px; */
   margin-bottom: 5px;

   background-color: rgb(0,0,0, 0.7) ;
   max-height: 100px;

}

.profilePic{
   padding:0px !important;
   max-height: 100px;

}

.nameRow{
   margin-bottom:12px;
}

.marginLeft{
   margin-left:10px;
}

.name{
   font-family: Arial, Helvetica, sans-serif;
   color:white;
   text-shadow: 1px 1px rgb(225,60,176);
   margin:0;
   margin-left: 10px;
}

.category{
   font-family: Arial, Helvetica, sans-serif;
   color:white;
   text-shadow: 1px 1px rgb(225,60,176);
   margin:0;
   margin-left: 10px;
   padding:0 !important;


}

.stats{
   font-family: Arial, Helvetica, sans-serif;
   color:white;   
   text-shadow: 1px 1px rgb(56,181,230);
   margin-left: 10px;
   padding:0 !important;


}

.ibs{
   font-family: Arial, Helvetica, sans-serif;
   color:white;
   text-shadow: 1px 1px rgb(225,60,176);
   margin:0 2px 0 4px;
   padding:0 !important;
   /* animation: glow2 1s ease-in-out infinite alternate; */

}


@-webkit-keyframes glow {
   from {
     text-shadow: 0 0 5px rgb(218, 22, 159), 0 0 15px rgb(218, 22, 159), 0 0 25px rgb(223, 96, 185), 0 0 35px rgb(223, 96, 185), 0 0 45px rgb(223, 96, 185), 0 0 55px rgb(223, 96, 185), 0 0 65px rgb(223, 96, 185);
   }
   
   to {
     text-shadow: 0 0 15px rgb(218, 22, 159), 0 0 25px rgb(216, 120, 187), 0 0 35px rgb(223, 96, 185), 0 0 45px rgb(223, 96, 185), 0 0 55px rgb(223, 96, 185), 0 0 65px rgb(223, 96, 185), 0 0 75px rgb(223, 96, 185);
   }
 }

 @-webkit-keyframes glow2 {
   from {
     text-shadow: 0 0 5px rgb(35, 172, 226), 0 0 15px rgb(35, 172, 226), 0 0 25px rgb(28, 170, 226), 0 0 35px rgb(28, 170, 226), 0 0 45px rgb(28, 170, 226), 0 0 55px rgb(28, 170, 226), 0 0 65px rgb(28, 170, 226);
   }
   
   to {
     text-shadow: 0 0 15px rgb(35, 172, 226), 0 0 25px rgb(96, 187, 223), 0 0 35px rgb(28, 170, 226), 0 0 45px rgb(28, 170, 226), 0 0 55px rgb(28, 170, 226), 0 0 65px rgb(28, 170, 226), 0 0 75px rgb(28, 170, 226);
   }
 }


/* rgb(56,181,230); */
/* rgb(225,60,176); */