@font-face{
    font-family: halo;
    src: url(../../assets/fonts/HalogenGasLights.otf);
}

.header{
        padding-top:3px;
        height: 50px;
        width: 100%;
        background-color: rgb(0,0,0, .8);
        font-size: 20pt;
}

.titleHeader{
    font-family: halo;
    font-size: 20pt;
    color: rgb(221, 171, 206);
    margin: 0 0 20px 0;
    animation: glow 1s ease-in-out infinite alternate;

}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px rgb(218, 22, 159), 0 0 15px rgb(218, 22, 159), 0 0 25px rgb(223, 96, 185), 0 0 35px rgb(223, 96, 185), 0 0 45px rgb(223, 96, 185), 0 0 55px rgb(223, 96, 185), 0 0 65px rgb(223, 96, 185);
    }
    
    to {
      text-shadow: 0 0 15px rgb(218, 22, 159), 0 0 25px rgb(216, 120, 187), 0 0 35px rgb(223, 96, 185), 0 0 45px rgb(223, 96, 185), 0 0 55px rgb(223, 96, 185), 0 0 65px rgb(223, 96, 185), 0 0 75px rgb(223, 96, 185);
    }
  }

.regrets{
    font-family: halo;
    font-size: 20pt;
    color: rgb(171, 209, 224);
    margin: 0 0 20px 0;
    animation: glow2 1s ease-in-out infinite alternate;

}

@-webkit-keyframes glow2 {
    from {
      text-shadow: 0 0 5px rgb(35, 172, 226), 0 0 15px rgb(35, 172, 226), 0 0 25px rgb(28, 170, 226), 0 0 35px rgb(28, 170, 226), 0 0 45px rgb(28, 170, 226), 0 0 55px rgb(28, 170, 226), 0 0 65px rgb(28, 170, 226);
    }
    
    to {
      text-shadow: 0 0 15px rgb(35, 172, 226), 0 0 25px rgb(96, 187, 223), 0 0 35px rgb(28, 170, 226), 0 0 45px rgb(28, 170, 226), 0 0 55px rgb(28, 170, 226), 0 0 65px rgb(28, 170, 226), 0 0 75px rgb(28, 170, 226);
    }
  }


.noMargin{
    margin: 0;
}